:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  border-radius: 8px;
  margin: 0; /* マージンをリセット */
  background-color: #4CAF50; /* 背景色 */
  color: white; /* 文字色 */
  padding: 20px; /* 内側の余白 */
  text-align: center; /* テキストを中央揃え */
  font-size: 2em; /* フォントサイズ */
  box-shadow: 0 4px 2px -2px gray; /* 影の効果 */
}

h2 {
  border-radius: 8px;
  margin: 0; /* マージンをリセット */
  background-color: #3e4ee0; /* 背景色 */
  color: white; /* 文字色 */
  padding: 20px; /* 内側の余白 */
  text-align: center; /* テキストを中央揃え */
  font-size: 2em; /* フォントサイズ */
  box-shadow: 0 4px 2px -2px gray; /* 影の効果 */
}

h3 {
  border-radius: 8px;
  margin: 0; /* マージンをリセット */
  background-color: #ec518d; /* 背景色 */
  color: white; /* 文字色 */
  padding: 20px; /* 内側の余白 */
  text-align: center; /* テキストを中央揃え */
  font-size: 2em; /* フォントサイズ */
  box-shadow: 0 4px 2px -2px gray; /* 影の効果 */
}

p {
  border-radius: 8px;
  margin: 0; /* マージンをリセット */
  background-color: #9f3ee0; /* 背景色 */
  color: white; /* 文字色 */
  padding: 20px; /* 内側の余白 */
  text-align: center; /* テキストを中央揃え */
  font-size: 2em; /* フォントサイズ */
  box-shadow: 0 4px 2px -2px gray; /* 影の効果 */
}

ul {
  border-radius: 8px;
  margin: 0; /* マージンをリセット */
  background-color: #c8d416; /* 背景色 */
  color: rgba(3, 2, 2, 0.877); /* 文字色 */
  padding: 20px; /* 内側の余白 */
  text-align: center; /* テキストを中央揃え */
  font-size: 2em; /* フォントサイズ */
  box-shadow: 0 4px 2px -2px gray; /* 影の効果 */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center; /* 水平方向に中央配置 */
  min-width: 320px;
  min-height: 100vh;
  background-color: white; /* 念のため body の背景色を設定 */
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 3em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
